@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**************************************************************
# 
#   SETTINGS GLOBALS
#   Write by: Alexandre Lambertini
#   Date: 10/08/2023
#  
/**************************************************************/

:root {
    --text-color: #707070;
    --text-white: #fff;
    --red-color: #E10D0D;
    --separator-color: #d8d8d8;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}


img, picture, video, embed {
    max-width: 100%; 
}

a  { text-decoration: none; }
ul { list-style: none; }

h1, h2, h3, h4 {
    color: var(--text-color);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.2rem;
    color: var(--text-color);
}

.title-style {
    font-size: clamp(2.5rem,-.875rem + 5.333vw,3.5rem);
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid var(--separator-color);
    padding-bottom: 1.5rem;
    font-weight: 200;
    line-height: clamp(2.6rem,-.875rem + 5.333vw,1em);
}

.title-style i {
    display: block;
    font-style: normal;
    font-weight: 400;
}

.title-style strong {
    font-weight: 500;
}

#play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    background: rgba(51, 51, 51, 0.8);
    border-radius: 50%;
  }

  @keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  fill:none;
  stroke: white;
  transition: stroke-dashoffset 1s ease,
              opacity 1s ease;
}

.icon {
  transform: scale(.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
  fill: white;
}

#play:hover {
  .stroke-solid {
    opacity: 1;
    stroke-dashoffset: 300;

  }
  .icon {
    transform: scale(.9);
  }
}

.link {
    cursor: pointer;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}


/**************************************************************
# 
#   BANNER SETTINGS
#  
/**************************************************************/


header {
    position: relative;
    /* background: url(../images/banner.png) no-repeat top left / cover; */
    padding-bottom: 4rem;
    height: 100vh;
}

header::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

video {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.description-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
}

.banner__inf__box {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    container-type: inline-size;
}

.banner__inf__box > div {
    display: flex;
    align-items: center;
}

.banner__inf__box img {
    width: 100%;
}

.big-logo {
    width: 30%;
    margin: auto;
}

.banner__inf__box p {
    font-size: clamp(2rem,-.875rem + 5.333vw,3.4rem);
    font-weight: bold;
    color: var(--text-white);
    line-height: clamp(2.5rem,-.875rem + 5.333vw,1.2em);
    
}

.banner__inf__box p i {
    font-style: normal;
    color: var(--red-color);
    
}

@container (width <= 700px) {
    
    .big-logo {
        width:45%
    }

    .banner__inf__box > div {
        flex-direction: column;
        margin:auto;
        gap:1rem;
    }

    .banner__inf__box p {
        text-align:center;
    }
}


/**************************************************************
# 
#   LOGO/MENU  SETTINGS
#  
/**************************************************************/


.logo {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--text-white);
}

.logo::after {
    content: ".";
    color:var(--red-color)
}

#nav {
    padding-right: 4rem;
    padding-left: 4rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem ;
    padding-bottom: 2rem;
    z-index: 2;
    position: relative;
}

.menu ul {
    display: flex;
    gap: 2rem;
}

.menu a {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-white);
    font-size: 1.2rem;
}

.btn-underline-action {
    position: relative;
    text-decoration: none;
    color:#333;
  }
  
  .btn-underline-action::before {
    content: '';
    position: absolute; 
    width: 100%;
    height: 2px; 
    bottom: -2px; 
    left: 0;
    background-color: red; 
    transform: scaleX(0); 
    transform-origin: right center;
    transition: transform 0.3s ease; 
  }
  
  .btn-underline-action:hover::before {
    transform: scaleX(1); 
    transform-origin: left center;
  }

.active {
    border-bottom:2px solid red; 
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    padding-right: 4rem;
    padding-left: 2rem;
    background-color: rgba(22, 22, 22, 0.493);
    z-index: 1000;
    animation: fade 1s ease;
}

@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/**************************************************************
# 
#   ABOUT SETTINGS
#  
/**************************************************************/


#about {
    padding: 10rem 0;
    container-type: inline-size;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5rem;
}

.about p {
    font-size: 1.1rem;
    padding-top: 4rem;
}

@container ( width <= 920px ) {

    .about__grid {
        grid-template-columns: 1fr;
    }
}


/**************************************************************
# 
#   PORTFOLIO SETTINGS
#  
/**************************************************************/


#portfolio {
    padding: 4rem 0;
    container-type: inline-size;
}

.port-grid {
    display: grid;
    gap: 15px;
    padding-top: 4rem;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title-work {
    display: flex;
    border: 2px solid #f0f0f0;
}

.port-grid h2 {
    margin: auto;
    font-size: clamp(2.5rem,-.875rem + 5.333vw,5rem);
    line-height: 5rem;
    font-weight: 200;
}

.port-grid i {
    display: block;
    font-style: normal;
    font-weight: 400;
}

.grid-col-3, 
.grid-col-2 {
    display: grid;
    gap: 15px;
}
 
.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 320px); 
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.link-port {
    position: relative;
}

.link-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.link-port::before {
    content: attr(data-title);
    white-space: pre-line;
    font-size: 2rem;
    padding-inline: 1.8rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 0;
    pointer-events: none;
}

.link-port:hover::before {
    opacity: 1;
}

@container ( width <= 920px ) {
    
    .port-grid h2 {
        line-height: 2.5rem;
    }

    .link-port::before {
        font-size: 1.5rem;
    }

    .grid-col-3 {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, auto);  */
    }
} 


/**************************************************************
# 
#   SERVICES SETTINGS
#  
/**************************************************************/


#services {
    padding: 10rem 0;
    container-type: inline-size;
}

.grid-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    color: var(--text-color);
    font-size: 1.1rem;
}

.grid-services ol {
    list-style: none;
    counter-reset: item;
    padding-top: 4rem;
    line-height: 3rem;
}

.grid-services li::before {
    content: "0" counter(item)".";
    counter-increment: item;
    margin-right: 10px;
    font-weight: 600;
}

.service__image {
    position: relative;
}

.service__image a {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@container ( width <= 920px ) {
    .grid-services {
        display: flex;
        flex-direction: column-reverse;
    }
} 


/**************************************************************
# 
#   FOOTER SETTINGS
#  
/**************************************************************/


footer {
    padding: 8rem 0;
    /* height: 100vh; */
}

footer .title-style {
    border-bottom: 0;
    padding: 0;
}

footer .title-style i {
    display: inline;
}

footer .title-style strong {
    display: block;
}

.footer-box {
    height: 100%;
    padding: 6rem 0;
    border-top: 1px solid var(--separator-color);
}

.footer__info {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contact__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__contact__info li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__contact__info img {
    width: 22px;
}

.footer__contact__info a {
    font-size: 1.3rem;
    color: var(--text-color);
}

.footer__contact__info a:hover {
    color: var(--red-color);
}

form {
    width: 85%;
    margin: auto;
}


/**************************************************************
# 
#   FORM SETTINGS
#  
/**************************************************************/


.formulario {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5em;
}

.formulario input, 
.formulario label, 
.formulario textarea {
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario input:focus, 
.formulario label:focus, 
.formulario textarea:focus {
    outline: 4px solid var(--red-color) ;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario input {
    font-size: 1.1rem;
}

.formulario label {
    margin-bottom: 10px;
    display: block;
}

.formulario button {
    width: 100%;
    border: 0;
    padding:1.5rem 3.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color);
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.formulario button:hover{
    background-color: var(--red-color);
    color: var(--text-white);
}

.half-line {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}

.half-line input {
    width: 100%;
    padding: 10px;
}
  
.full-line {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
  
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1.1rem;
}

.formulario .send {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}


/**************************************************************
# 
#   BUTTON LOAD_MORE
#  
/**************************************************************/


.button-more{
    border: 2px solid #f0f0f0;
    font-size: 1.2rem;
    color: var(--text-color);
    background: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
  }
  
  .button-more:hover,
  .button-more:focus,
  .button-more.load-more {
    background-color: var(--red-color);
    border-color: var(--red-color);
    color: #fff;
  }
  
  .load-more span {
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    background-color: var(--red-color);
    border-color: var(--red-color);
    color: #fff;
  }

  .button-more.span-3 {
    grid-column: span 3;
    /* grid-row: 3 / span 3 */
  }
  
  @keyframes loading {
    0% {
      opacity: 0;
    }
   50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .load-more span:nth-child(2) { animation-delay: 0.2s; }
  .load-more span:nth-child(3) { animation-delay: 0.4s; }


/**************************************************************
# 
#   Break-Points
#  
/**************************************************************/


@media (width <= 600px ) {
    #nav {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .nav-bar {
        padding-top: 0;
    }
    
    .logo {
        padding-top: 2rem;
    }

    .header-fixed {
        padding-right: 5%;
        padding-left: 5%;
    }

    .banner__inf__box > div { 
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin: auto;
    }
    .description-banner {
        height: 90%;
    }

    .big-logo {
        width: 50%;
    }

    #portfolio {
        padding-top: 0;
    }

    .footer__info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding-inline: 2rem;
    }
    

    .grid-services li:nth-child(1) {
        line-height: 2rem;
    }

    .grid-services li:last-child {
        line-height: 2rem;
    }

    .half-line {
        width: 100%;
    }

    .grid-col-3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
}

@media (width <= 920px ) {
    
    .nav-bar {
        padding-top: 0;
    }

    .logo {
        padding-top: 2rem;
    }
}
